<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="UTF-8"/>
        <link rel='stylesheet' href="reset.css"/>
        <link rel='stylesheet' href="style.css"/>
    </head>
    <body>
        <div id='one'>id one</div>
        <div class ='two'>class two</div>
        <div class = 'two'>class two</div>
        <div id='two'>id two</div>
        <div class='one'>class one</div>
        <div class='three'>class three</div>
        <div id='three'>id three</div>
        <div class='three'>class three</div>
    <button onclick='clickHandler()'>Start Stylesheet</button>
    <div id="stylesheet-lander"></div>
    </body>
    <script src='script.js'></script>
</html>